<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <nav class="nav">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Tech</a>
        <a class="nav-link" href="#">Life</a>
        <a class="nav-link" href="#">Novel</a>
        <a class="nav-link" href="resume">Resume</a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
</body>
</html>